#city {
    &.page {
        padding-top: 0;
    }
    .header {
        text-align: center;
        position: relative;
        font-size: .16rem;
        padding: .13rem;
        color: #333333;
        .icon-angle-left {
            position: absolute;
            left: .1rem;
            padding: 0 .1rem 0 .07rem;
            top: .12rem;
            font-size: 20px;
            color: #999999;
        }
    }
    .location {
        border-top: 1px solid #f4f4f4;
        font-size: .14rem;
        color: #999999;
        padding: .1rem .17rem;
        .city--name {
            color: #333333;
        }
    }
    .group {
        .group__title {
            font-size: .14rem;
            padding: .15rem .17rem;
            background: #f3f3f3;
            margin: 0;
            color: #999999;
            text-transform: uppercase;
        }
        .group__list {
            margin: 0;
            padding: 0 0 0 .17rem;
            list-style: none;
            color: #666666;
        }
        .group__item {
            font-size: .12rem;
            padding: .17rem 0;
            background: #fff;
            border-bottom: 1px solid #dedede;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
