#film.page {
  background: #F7F7F9;
  padding-top: 0;
  padding-bottom: .7rem; }

#film .title {
  color: #222;
  font-size: 14px;
  border-left: 2px solid #222;
  padding-left: 8px;
  margin: 0 0 .12rem; }

#film .page__info .info__basic {
  margin-bottom: .1rem; }

#film .page__info .info__basic .basic__big {
    width: 100%;
    height: 2.1rem;
    position: relative; }

#film .page__info .info__basic .basic__big .big__img {
      width: 100%;
      height: 100%; }

#film .page__info .info__basic .basic__big .icon-angle-left {
      position: absolute;
      top: .1rem;
      left: .1rem;
      font-size: 22px;
      color: #fff; }

#film .page__info .info__basic .basic__intro {
    padding: .2rem;
    color: #222;
    font-size: 12px;
    background: #fff;
    position: relative; }

#film .page__info .info__basic .basic__intro .intro__text {
      margin: 0 0 .1rem 0;
      padding-right: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

#film .page__info .info__basic .basic__intro .intro__title {
      font-size: 20px;
      font-weight: bold; }

#film .page__info .info__basic .basic__intro .intro__little {
      color: #999; }

#film .page__info .info__basic .basic__intro .intro__score {
      border: 1px solid #E3E3E3;
      padding: .1rem;
      margin-bottom: .2rem;}

#film .page__info .info__basic .basic__intro .intro__score .score__gwl,
      #film .page__info .info__basic .basic__intro .intro__score .score__db {
        float: left;
        color: #ff5400;
        font-size: 20px;
        text-align: center; }

#film .page__info .info__basic .basic__intro .intro__score .score__gwl {
        width: 50%;
        border-right: 2px solid #E3E3E3; }

#film .page__info .info__basic .basic__intro .intro__score .score__db {
        width: 48%; }

#film .page__info .info__basic .basic__intro .intro__audience .audience__list {
      margin: 0;
      padding: 0;
      height: .34rem;
      overflow: hidden; }

#film .page__info .info__basic .basic__intro .intro__audience .audience__list .list__item {
        float: left;
        list-style: none;
        margin-right: .11rem; }

#film .page__info .info__basic .basic__intro .intro__audience .audience__list .list__item .item__img {
          width: .32rem;
          height: .32rem;
          border-radius: 50%; }

#film .page__info .info__basic .basic__intro .intro__cover {
      position: absolute;
      top: -.5rem;
      right: .3rem;
      color: #fff;
      font-size: 10px;
      text-align: right; }

#film .page__info .info__basic .basic__intro .intro__cover .cover__num {
        margin-bottom: .06rem; }

#film .page__info .info__basic .basic__intro .intro__cover .cover__poster {
        background: #fff;
        padding: .02rem;
        border: 1px solid #ECECEC; }

#film .page__info .info__basic .basic__intro .intro__cover .cover__poster .poster__img {
          width: .9rem;
          height: 1.2rem; }

#film .page__info .info__pi {
  background: #fff;
  padding: .1rem .2rem;
  margin-bottom: .1rem; }

#film .page__info .info__pi .pi__content {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

#film .page__info .info__plot {
  padding: .1rem .2rem;
  background: #fff;
  position: relative;
  margin-bottom: .1rem; }

#film .page__info .info__plot .plot__content {
    color: #666; }

#film .page__info .info__plot .plot__content.part-desc {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }

#film .page__info .info__plot .plot__more {
    position: absolute;
    top: .12rem;
    right: .2rem;
    color: #fe5400;
    font-size: 10px; }

#film .page__info .info__relevant {
  padding: .1rem .2rem;
  background: #fff;
  margin-bottom: .1rem; }

#film .page__info .info__relevant .relevant__video .video {
    overflow-x: auto; }

#film .page__info .info__relevant .relevant__video .video__list {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

#film .page__info .info__relevant .relevant__video .video__list .list__item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 .62rem;
          -ms-flex: 0 0 .62rem;
              flex: 0 0 .62rem;
      text-align: center;
      list-style: none;
      margin-right: .3rem; }

#film .page__info .info__relevant .relevant__video .video__list .list__item .item__img {
        width: .62rem;
        height: .8rem;
        border-radius: 4px; }

#film .page__info .info__relevant .relevant__video .video__list .list__item .item__name {
        font-size: 11px;
        color: #222;
        margin: .05rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

#film .page__info .info__relevant .relevant__video .video__list .list__item .item__identity {
        margin: .05rem 0; }

#film .page__info .info__relevant .relevant__poster {
    margin-top: .2rem; }

#film .page__info .info__relevant .relevant__poster .poster {
      overflow-x: auto; }

#film .page__info .info__relevant .relevant__poster .poster__list {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }

#film .page__info .info__relevant .relevant__poster .poster__list .list__li {
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        height: .8rem;
        list-style: none;
        margin-right: .1rem; }

#film .page__info .info__relevant .relevant__poster .poster__list .list__li .li__img {
          height: .8rem; }

#film .page__comment {
  background: #fff; }

#film .page__comment .comment__title {
    padding: 0 .2rem; }

#film .page__comment .comment__title .title {
      border-bottom: 1px solid #ECECEC;
      padding: .1rem 0;
      margin-bottom: 0;
      border-left: 0; }

#film .page__comment .comment__title .title .title__text {
        border-left: 2px solid #222;
        padding-left: 8px; }

#film .page__comment .comment__list .list__item {
    padding: .1rem .2rem; }

#film .page__comment .comment__list .list__item:nth-child(2n) {
      background: #F7F7F9; }

#film .page__comment .comment__list .list__item .item__personal {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #222;
      font-weight: bold;
      margin-bottom: .14rem; }

#film .page__comment .comment__list .list__item .item__personal .personal__info {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

#film .page__comment .comment__list .list__item .item__personal .personal__info .personal__img {
          width: .38rem;
          height: .38rem;
          border-radius: 50%;
          margin-right: .1rem; }

#film .page__comment .comment__list .list__item .item__personal .personal__time {
        font-size: 12px;
        color: #999;
        font-weight: normal; }

#film .page__comment .comment__list .list__item .item__content {
      color: #666; }

#film .page__comment .comment__list .list__item .item__content .content__title {
        margin: 0 0 .1rem 0;
        color: #222;
        font-size: 14px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }

#film .page__comment .comment__list .list__item .item__content .content__text {
        margin-bottom: .14rem;
        word-wrap: break-word; }

#film .page__comment .comment__list .list__item .item__content .content__images {
        margin: 0;
        padding: 0; }

#film .page__comment .comment__list .list__item .item__content .content__images .images__li {
          float: left;
          width: 1rem;
          height: 1rem;
          margin: 0 .16rem .16rem 0;
          list-style: none; }

#film .page__comment .comment__list .list__item .item__content .content__images .images__li:nth-child(3n) {
            margin-right: 0; }

#film .page__comment .comment__list .list__item .item__content .content__images .images__li .li__stills {
            width: 100%;
            height: 100%; }

#film .page__comment .comment__list .list__item .item__operation {
      color: #999;
      font-size: 12px;
      text-align: right; }

#film .page__comment .comment__list .list__item .item__operation .operation__up {
        margin-right: .2rem; }

#film .page__comment .comment__list .list__item .item__operation .icon {
        font-size: 18px;
        margin-right: .04rem; }

#film .page__btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #666;
  border-top: 1px solid #ECECEC; }

#film .page__btn .btn {
    width: 50%;
    text-align: center;
    background: #fff;
    float: left;
    height: .6rem;
    line-height: .6rem;
    border-radius: 0;
    padding: 0; }

#film .page__btn .btn .icon-chat {
      font-size: 22px;
      vertical-align: sub;
      margin-right: .06rem;
      color: #999; }

#film .page__btn .btn__seat {
    color: #fff;
    background: #FF884E; }

#film .swiper-begin {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: -9999;
  opacity: 0; }

#film .swiper-begin.active {
    z-index: 9999;
    opacity: 1; }

#film .swiper-begin .swiper-pagination {
    display: none !important; }

.film__icon {
  height: 24px;
  vertical-align: sub;
  display: inline-block; }
.film__icon.gwl {
    background: url(../../assets/display/g-m.png) left center no-repeat;
    background-size: contain;
    width: 55px; }
.film__icon.db {
    background: url(../../assets/display/d-m.png) left center no-repeat;
    background-size: contain;
    width: 82px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }