#login {

    &.page {
        background: #F4F4F4;
        color: #333333;
        font-size: .12rem;
        padding-top: 0;
        .animated {
            animation-duration: .2s !important;
        }
        a {
            color: #999;
        }
        .login__header{
            background: url(../../assets/tips/header.jpg) no-repeat center center/cover;
            height: 2.3rem;
            .back-home{
                position: relative;
                display: inline-block;
                margin-top: .1rem;
                font-size: .3rem;
                color: #fff;
                margin-left: .1rem;
                a {
                    position: absolute;
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                }
            }
        }
        .page__tabs{
            margin-top: -.45rem;
            &.page__tabs--wechat{
                margin-top: -.39rem;
            }
            ul {
                display: flex;
                li {
                    position: relative;
                    float: left;
                    font-size: .14rem;
                    flex-grow: 1;
                    line-height: 3;
                    text-align: center;
                    &.tabs--activated{
                        a {
                            color: #fff;
                            font-size: .15rem;
                            font-weight: bold;
                        }
                        &:after{
                            position: absolute;
                            display: inline-block;
                            bottom: -.02rem;
                            left: .82rem;
                            content: "";
                            border: .13rem solid transparent;
                            border-bottom-width: .1rem;
                            border-bottom-color: #F4F4F4;
                        }
                    }
                }
            }
        }
        .page__tab-content{
            padding: .51rem .4rem;
            input {
                background: transparent;
                border: none;
                border-bottom: 1px solid #dad8d8;
                border-radius: 0;
                box-shadow: none;
                width: 2.6rem;
                height: .34rem;
                outline: none;
                flex-grow: 1;
                font-size: .16rem;
                padding: 6px 6px;
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color:    #ccc;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color:    #ccc;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color:    #ccc;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color:    #ccc;
                }
            }
            i{
                display: inline-block;
                vertical-align: sub;
                margin-right: .1rem;
                font-size: .25rem;
            }
            .login-btn{
                width: 2.92rem;
                height: .44rem;
                margin: 0 auto;
                margin-top: .3rem;
                margin-bottom: .1rem;//44444444444444444444444
                background: #FF5400;
                border: none;
                font-size: .16rem;
                color: #fff;
                letter-spacing: .05rem;
                border-radius: .03rem;
            }
            .login-btn--activite{
                background: #FF5400;
            }
            // 账户登录
            .tab-content__account{
                .input__account{
                    display: flex;
                    align-items: center;
                }
                .input__password{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-top: .4rem;
                    button{
                        position: absolute;
                        display: inline-block;
                        background: none;
                        right: 0px;
                        bottom: 5px;
                        border: none;
                        outline: none;
                        i {
                            margin-right: 0;
                        }
                    }
                }
                .forgot-pwd{

                }
                .register{
                    color: #C6A54C;
                    float: right;
                }

            }
            // 快捷登录
            .tab-content__shortcut{
                .input__phone{
                    display: flex;
                    align-items: center;
                }
                .input__veri-code{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-top: .4rem;
                    button{
                        position: absolute;
                        right: 0rem;
                        bottom: .05rem;
                        border: none;
                        border-left: 1px solid #ccc;
                        color: #FF5400;
                        font-size: .12rem;
                        background: none;
                        width: .8rem;
                    }
                    button.disabled{
                        color: #999;
                    }
                }
            }
        }


    }
    .other-methods{
        position: relative;
        display: flex;
        justify-content: space-around;
        margin-top: .2rem;
        border-top: 1px dotted #ccc;
        padding-top: .2rem;
        &:before{
            content: 'or';
            position: absolute;
            display: inline-block;
            color: #ccc;
            font-size: .16rem;
            top: -.12rem;
            left: 1.3rem;
            background: #F4F4F4;
            padding: 0 .1rem;
            text-align: center;
        }
        > div{
            position: relative;
            display: inline-block;
            width: .44rem;
            height: .44rem;
            font-size: .3rem;
            vertical-align: middle;
            text-align: center;
            background: rgba(0,0,0,0.05);
            border-radius: .3rem;
            a{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
        .other-methods__qq{
            background: #e8e8e8 url(../../assets/tips/qq.png) no-repeat center center 
            background-size: 60%
        }
        .other-methods__weibo{
            background: #e8e8e8 url(../../assets/tips/weibo.png) no-repeat center center  
            background-size: 70%
        }

    }
    .captcha-modal {
        .captcha {
            display: flex;
            align-items: center;
            margin: .1rem 0;
            justify-content: center;
            .icon-refresh {
                font-size: .24rem;
                margin: 0 .05rem;
            }
        }
        .form-control {
            border: none;
            border-bottom: 1px solid #ddd;
            border-radius: 0;
            box-shadow: none;
            width: 70%;
            margin: 0 auto;
        }
    }
}
